{% load static recaptcha3%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>

    {% recaptcha_init %}
    {% recaptcha_ready action_name='homepage' %}

</head>
<body>
    <div class="container">
            <header>
            <a href="{% url 'index' %}"><img class="logo" src="{% static 'login/images/Logo_image.png' %}" alt="logo"></a>
            <nav>
                <ul class="nav__links">
                    {% if request.user.is_authenticated %}
                        <li><button><a href="{% url 'account' %}">{{ user.username }}</a></button></li>
                        <li><button><a href="{% url 'logout' %}">Log out</a></button></li>
                    {% else %}
                        <li><button><a href="{% url 'login' %}">Log in</a></button></li>
                        <li><button><a href="{% url 'registration' %}">Registration</a></button></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>