{% extends 'login/base.html' %}
{% block title %}Reset{% endblock %}
{% block content %}
    <form class="transparent" method='post'>
        {% csrf_token %}
        <div class="form-inner">
            <h3>Reset password</h3>
            <br>
                <h4 style="color: white;">Check your email to change your password</h4>
            <br>
                <p style="color:white; margin-top:10px; font-size: 10px; text-align:center;"><a style="color: #acafb0; font-size: 10px;" href="{% url 'login' %}">Press here</a> to log in</p>
        </div>
    </form>
{% endblock %}


