{% extends 'login/base.html' %}
{% block title %}Reset{% endblock %}
{% block content %}
    <form class="transparent" method='post'>
        {% csrf_token %}
        <div class="form-inner">
            <h3>Reset password</h3>
            <br>
            <h4 style="color: white;">Password changed successfully</h4>
            <br>
            <button type="submit" style="position: relative;left: 50%;transform: translate(-50%, 0);"><a
                    href="{% url 'login' %}">Submit</a></button>
        </div>
    </form>
{% endblock %}


