{% extends 'login/base.html' %}
{% block title %}Reset{% endblock %}
{% block content %}
    <form class="transparent" method='post'>
        {% csrf_token %}
        <div class="form-inner">
            <h3>New password</h3>
            <br>
                {% for f in form %}
                    <p><label>{{f.label}}</label>{{ f }}</p>
                {% endfor %}
                <button type="submit" style="position: relative;left: 50%;transform: translate(-50%, 0);">Submit</button>
                <p style="color:white; margin-top:10px; font-size: 10px; text-align:center;"><a style="color: #acafb0; font-size: 10px;" href="{% url 'login' %}">Press here</a> to log in</p>
        </div>
    </form>
{% endblock %}


